/HolaMundo/nbproject/private/
/HolaMundo/build/
/Operaciones con cadenas/Opreaciones_con_Cadenas/nbproject/private/
/Operaciones_Con_Cadenas/Opreaciones_con_Cadenas/nbproject/private/
/Operaciones_Con_Cadenas/nbproject/private/
/Operaciones_Con_Cadenas/build/
/Operaciones_Con_Cadenas/dist/
/Rueda_De_laFortuna/nbproject/private/
/Rueda_De_laFortuna/build/
/NecFlis_Progra1/nbproject/private/
/NecFlis_Progra1/build/
/Tarea_POO_Java/nbproject/private/
/TareaPoo_Java/nbproject/private/
/TareaPoo_Java/build/